{% for video in page.header.videos %}
    <section class="section-video bg-inverse text-center wp wp-4">
        <video id="video{{ loop.index }}" class="video-js vjs-default-skin vjs-big-play-centered" controls
               poster="{{ page.media[video.poster].url }}" data-setup="{}">
            {% for source in video.sources %}
                {% if source.local %}
                    {% set video = page.find('/video').media[source.local].url %}
                {% else %}
                    {% set video = source.url %}
                {% endif %}
                <source src="{{ video }}" type="{{ source.type }}">
            {% endfor %}
        </video>
    </section>
{% endfor %}
